.indicator-song {
  width: 80%;
  height: 24px;
  position: relative;
}

#indicator {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 16px;
  outline: none;
  background: #ffffff;
  box-shadow: inset 2px 2px 5px #c2c2c2, inset -2px -2px 5px #ffffff;
}

#indicator::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 5px #c2c2c2, -2px -2px 5px #ffffff;
  z-index: 9999;
}

#indicator::-moz-range-thumb {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 5px #c2c2c2, -2px -2px 5px #ffffff;
  z-index: 9999;
}
